.body {
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
}
.header{
    display: none !important;
}
.wrapper {
    width: 100%;
    margin: auto;
    grid-template-columns: 70px 200px 100px 100px 130px 100px 90px;
    border: 1px solid #b8b5bd;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 1%;
    align-items: center;
}
.li-color1 {
    color: green;
}
.li-color2{
    color: red;
}
.box2 {
    text-align: left;
    margin-top: 5px;
}

.butt{
    border: 1px solid #218294;
   
    color: #218294;
    text-decoration: none;
    text-transform: uppercase;
    
    
    display: block;
    text-align: center;
    line-height: 30px;
    font-family: Arial, sans-serif;
}

.butt::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #218294;
    top: 0;
    left: -100%;
    opacity: .5;
   } 

@media (min-width: 840px) {
    .header{
        display: grid !important;
    }
    .wrapper {
        display: none;
    }
    .wrapper{
        display: grid;
        padding: 70px 200px 100px 100px 130px 100px 90px;
        
    }
    .title{
        display: none;
        
    }
}